<footer class="footer">
	<!-- Footer Top -->
	<div class="footer-top section">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-6 col-12">
					<!-- Single Widget -->
					<div class="single-footer about">
						<div class="logo">
							<a href="index.html"><img width="250" src="/smartshop/assets/img/logo-white.png" alt="#"></a>
						</div>
						<p class="text">We are many variations of passages available but the majority have suffered alteration in some form by the andomised words which injected humour.</p>
						<p class="call">Have Any Question? Call Us 24/7<span><a href="tel:(+1)1234565555">(+1) 123 456 5555</a></span></p>
						<div class="footer-download">
							<a href="#">
								<img src="~/smartshop/assets/img/download/play-store.png" alt="">
							</a>
							<a href="#">
								<img src="~/smartshop/assets/img/download/app-store.png" alt="">
							</a>
						</div>
					</div>
					<!-- End Single Widget -->
				</div>
				<div class="col-lg-2 col-md-6 col-12">
					<!-- Single Widget -->
					<div class="single-footer links">
						<h4>Information</h4>
						<ul>
							<li><a href="#">About Us</a></li>
							<li><a href="#">Contact Us</a></li>
							<li><a href="#">Terms & Conditions</a></li>
							<li><a href="#">Faq</a></li>
							<li><a href="#">Careers</a></li>
							<li><a href="#">Our Stores</a></li>
							<li><a href="#">Our Cares</a></li>
							<li><a href="#">Help</a></li>
						</ul>
					</div>
					<!-- End Single Widget -->
				</div>
				<div class="col-lg-2 col-md-6 col-12">
					<!-- Single Widget -->
					<div class="single-footer links">
						<h4>Müşteri Hizmetleri</h4>
						<ul>
							<li><a href="#">Ödeme Yolları</a></li>
							<li><a href="#">Para İadesi</a></li>
							<li><a href="#">İade İşlemleri</a></li>
							<li><a href="#">Kargo / Teslimat</a></li>
							<li><a href="#">Gizlilik Politikası</a></li>
							<li><a href="#">Destek Merkezi</a></li>
							<li><a href="#">Nasıl Satın Alınır</a></li>
							<li><a href="#">Siparişinizi Takip Edin</a></li>

						</ul>
					</div>
					<!-- End Single Widget -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Single Widget -->
					<div class="single-footer social">
						<h4>Get In Tuch</h4>
						<!-- Single Widget -->
						<div class="contact">
							<ul>
								<li> <i class="fal fa-map-marker-alt"></i> 1503  Kovar Road, New York,  USA</li>
								<li> <i class="fal fa-envelope"></i> <a href="https://themes.themewild.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="087b69646d7b486d70696578646d266b6765">[email&#160;protected]</a></li>
								<li> <i class="fal fa-phone"></i> (+1) 123 456 5657</li>
							</ul>
						</div>
						<!-- End Single Widget -->
						<ul>
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-x-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
					<!-- End Single Widget -->
				</div>
			</div>
		</div>
	</div>
	<!-- End Footer Top -->
	<div class="copyright">
		<div class="container">
			<div class="inner">
				<div class="row">
					<div class="col-lg-6 col-12">
						<div class="left">
							<p>Copyright ©<span id="date"></span> <a href="#">E-Ticaret</a>  -  Bütün Haklar Saklıdır.</p>
						</div>
					</div>
					<div class="col-lg-6 col-12">
						<div class="right payment">
							<i class="fab fa-cc-mastercard"></i>
							<i class="fab fa-cc-visa"></i>
							<i class="fab fa-cc-paypal"></i>
							<i class="fab fa-cc-amex"></i>
							<i class="fab fa-cc-discover"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>