


<!DOCTYPE html>
<html lang="en">

	<body>
	<partial name="_Header" />


	<section id="contact-us" class="contact-us section">
		<div class="container">
			<div class="contact-head">
				<div class="row">
					<div class="col-lg-8 col-12">
						<div class="form-main">
							<div class="title">
								<h4>Get in touch</h4>
								<h3>Write us a message</h3>
							</div>
							<form class="form" method="post" action="https://themes.themewild.com/smartshop/assets/php/contact.php" id="contact-form">
								<div class="row">
									<div class="col-lg-6 col-12">
										<div class="form-group">
											<label>Your Name<span>*</span></label>
											<input name="name" type="text" placeholder="Enter name" required>
										</div>
									</div>
									<div class="col-lg-6 col-12">
										<div class="form-group">
											<label>Your Email<span>*</span></label>
											<input name="email" type="email" placeholder="Enter email" required>
										</div>
									</div>
									<div class="col-12">
										<div class="form-group">
											<label>Your Subject<span>*</span></label>
											<input name="subject" type="text" placeholder="Enter subject" required>
										</div>
									</div>
									<div class="col-12">
										<div class="form-group message">
											<label>Your Message<span>*</span></label>
											<textarea name="message" placeholder="Write message" required></textarea>
										</div>
									</div>
									<div class="col-12">
										<div class="form-group button">
											<button type="submit" class="btn ">Send Message</button>
										</div>
									</div>
									<div class="col-12 my-2">
										<div class="form-messege text-success"></div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="col-lg-4 col-12">
						<div class="single-head">
							<div class="single-info">
								<i class="fal fa-phone"></i>
								<h4 class="title">Call us Now:</h4>
								<ul>
									<li>(+1) 123 456 5657</li>
									<li>(+1) 123 456 56571</li>
								</ul>
							</div>
							<div class="single-info">
								<i class="fal fa-envelope"></i>
								<h4 class="title">Email:</h4>
								<ul>
									<li><a href="https://themes.themewild.com/cdn-cgi/l/email-protection#325b5c545d72574a535f425e571c515d5f"><span class="__cf_email__" data-cfemail="f49d9a929bb4918c9599849891da979b99">[email&#160;protected]</span></a></li>
									<li><a href="https://themes.themewild.com/cdn-cgi/l/email-protection#bbc8cecbcbd4c9cffbdec3dad6cbd7de95d8d4d6"><span class="__cf_email__" data-cfemail="cfbcbabfbfa0bdbb8faab7aea2bfa3aae1aca0a2">[email&#160;protected]</span></a></li>
								</ul>
							</div>
							<div class="single-info">
								<i class="fal fa-map-marker-alt"></i>
								<h4 class="title">Our Address:</h4>
								<ul>
									<li>1503 Kovar Road, New York,<br> USA</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/ End Contact -->
	<!-- Map Section -->
	<div class="map-section">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96708.34194156103!2d-74.03927096447748!3d40.759040329405195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4a01c8df6fb3cb8!2sSolomon%20R.%20Guggenheim%20Museum!5e0!3m2!1sen!2sbd!4v1619410634508!5m2!1sen!2sbd" class="w-100" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
	</div>
	<!--/ End Map Section -->
	<!-- Start Shop Newsletter  -->
	<section class="shop-newsletter py-5">
		<div class="container">
			<div class="inner-top">
				<div class="row">
					<div class="col-lg-8 offset-lg-2 col-12">
						<!-- Start Newsletter Inner -->
						<div class="inner">
							<h4>Newsletter</h4>
							<p> Subscribe to our newsletter and get <span>30%</span> off your first purchase</p>
							<form action="#" method="get" class="newsletter-inner">
								<input name="email" placeholder="Your email address" required="" type="email">
								<button class="btn">Subscribe <i class="fal fa-paper-plane"></i></button>
							</form>
						</div>
						<!-- End Newsletter Inner -->
					</div>
				</div>
			</div>
		</div>
	</section>

	<partial name="CommonScripts" />
</body>


<!-- Mirrored from themes.themewild.com/smartshop/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 05 Oct 2025 15:12:02 GMT -->
</html>