<partial name="_Header" />
<section class="shop section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mb-4">
                <div class="account-sidebar">
                    <h6 class="sidebar-title">DASHBOARD</h6>
                    <div class="sidebar-list">
                        <a href="order-list.html" class="active"><i class="far fa-shopping-bag"></i> Orders <span>10</span></a>
                        <a href="wishlist.html"><i class="far fa-heart"></i> Wishlist <span>20</span></a>
                        <a href="support-ticket.html"><i class="far fa-headset"></i> Support Tickets <span>2</span></a>
                    </div>

                    <h6 class="sidebar-title mt-4">PROFILE SETTINGS</h6>
                    <div class="sidebar-list">
                        <a href="profile.html"><i class="far fa-user"></i> Profile Info</a>
                        <a href="address-list.html"><i class="far fa-map-marker-alt"></i> Addresses <span>20</span></a>
                        <a href="payment-method.html"><i class="far fa-credit-card"></i> Payment Methods <span>2</span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="account-content">
                    <h4 class="account-content-title"><i class="far fa-shopping-bag"></i> My Orders</h4>

                    <div class="account-content-table">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <th>Order #</th>
                                        <th>Purchased Date</th>
                                        <th>Total</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                    <tr class="account-order-list">
                                        <td><b>#15498SD</b></td>
                                        <td>February 26, 2025</td>
                                        <td>$400.00</td>
                                        <td><span class="badge bg-secondary">Pending</span></td>
                                        <td class="text-center"><a href="order-detail.html" class="content-action"><i class="far fa-arrow-right"></i></a></td>
                                    </tr>
                                    <tr class="account-order-list">
                                        <td><b>#15498SD</b></td>
                                        <td>February 26, 2025</td>
                                        <td>$400.00</td>
                                        <td><span class="badge bg-primary">Processing</span></td>
                                        <td class="text-center"><a href="order-detail.html" class="content-action"><i class="far fa-arrow-right"></i></a></td>
                                    </tr>
                                    <tr class="account-order-list">
                                        <td><b>#15498SD</b></td>
                                        <td>February 26, 2025</td>
                                        <td>$400.00</td>
                                        <td><span class="badge bg-success">Completed</span></td>
                                        <td class="text-center"><a href="order-detail.html" class="content-action"><i class="far fa-arrow-right"></i></a></td>
                                    </tr>
                                    <tr class="account-order-list">
                                        <td><b>#15498SD</b></td>
                                        <td>February 26, 2025</td>
                                        <td>$400.00</td>
                                        <td><span class="badge bg-danger">Cancelled</span></td>
                                        <td class="text-center"><a href="order-detail.html" class="content-action"><i class="far fa-arrow-right"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12">
                            <!-- Pagination -->
                            <div class="pagination center mt-2">
                                <ul class="pagination-list">
                                    <li><a href="#"><i class="ti-arrow-left"></i></a></li>
                                    <li><a href="#">1</a></li>
                                    <li class="active"><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#"><i class="ti-arrow-right"></i></a></li>
                                </ul>
                            </div>
                            <!--/ End Pagination -->

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="shop-newsletter py-5">
    <div class="container">
        <div class="inner-top">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <!-- Start Newsletter Inner -->
                    <div class="inner">
                        <h4>Newsletter</h4>
                        <p> Subscribe to our newsletter and get <span>30%</span> off your first purchase</p>
                        <form action="#" method="get" class="newsletter-inner">
                            <input name="email" placeholder="Your email address" required="" type="email">
                            <button class="btn">Subscribe <i class="fal fa-paper-plane"></i></button>
                        </form>
                    </div>
                    <!-- End Newsletter Inner -->
                </div>
            </div>
        </div>
    </div>
</section>

                        <partial name="_Footer" />